.info-container {
  display: flex;
  text-align: left;
  padding: 0 10rem;
  background: #f4f6fe;
}

.info-category {
  color: #265ec2;
  font-size: 0.8rem;
}

.info-header-title {
  display: flex;
  /* gap: 6rem; */
}

.info-header-title h1 {
  font-size: 2.4rem;
  width: 100%;
}

.info-header-title h4 {
  color: #5d5d5d;
  font-size: 18px;
  padding-left: 13px;
}
