.wrapper {
  text-align: left;
  padding: 0 10rem;
  background: #f4f6fe;
}

.info-category {
  color: #265ec2;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.info-header-title {
  display: flex;
  //  gap: 6rem;

  h1 {
    font-size: 2.4rem;
    width: 100%;
  }

  h4 {
    color: #5d5d5d;
    font-size: 18px;
    padding-left: 13px;
  }
}

.info-items {
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .hr {
    border: none;
    height: 1px;
    background-color: #e5e7eb;
    margin: 2rem 0;
  }

  .items-title {
    padding: 1rem;
    border-radius: 8px;
  }
}
