.bankinfo-container {
  padding: 4rem 10rem;
  font-family: system-ui, sans-serif;
}

.bankinfo-header h5 {
  color: #2563eb;
  font-weight: bold;
}

.bankinfo-header h1 {
  margin-top: 0.5rem;
  font-size: 2rem;
}

.bankinfo-header p {
  margin-top: 0.5rem;
  color: #555;
}

.bankinfo-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  background-color: #2563eb;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  font-size: .8rem
  ;
}

.bankinfo-items {
  margin: 2rem 0;
  display: flex;
  gap: 1rem;
}

.bankinfo-items button {
  padding: 0.5rem 1rem;
  border: none;
  background: #eee;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.bankinfo-items button.active {
  background: #2563eb;
  color: white;
}

.bankinfo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.bankinfo-card {
  flex: 1 1 250px;
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
}

.bankinfo-card:hover {
  transform: translateY(-5px);
}

.bank-desc {
  font-style: italic;
  color: #777;
  margin: 0.5rem 0;
}

.bank-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 1rem;
}

.btn-details {
  margin-top: 1rem;
  background: #2563eb;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-details:hover {
  background: #2563eb;
}
