/* wrapper 2 layout */
.login-register-wrapper {
  display: flex;
  font-family: system-ui, sans-serif;
  min-height: 80vh;
  margin: 0 auto; /*căn giữa*/
  width: 80%; /*chiếm 90% width viewport*/
  max-width: 80vw; /*tối đa 90% viewport width*/
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 35px;
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/loan-img-3.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px); /*lm mờ bgr*/
  z-index: -1; /*under mọi content*/
  transform: scale(1.05);
}

.login-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

/* left layout */
.login-register-left {
  flex: 1; /*50% width viewport*/
  position: relative;
  overflow: hidden;
}

.background__login-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* text trên ảnh */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  /* padding: 1rem; */
  text-align: left;
}

.text-overlay h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-overlay p {
  margin-bottom: 0.5rem;
}

.social-login {
  display: flex;
}

.social-login button {
  margin-right: 1rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-facebook {
  background: #3b5998;
  color: #fff;
}

.btn-google {
  background: #444;
  color: #fff;
}

/* right layout */
.login-register-right {
  flex: 1; /*50% width viewport*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* padding-bottom: 5rem; */
  text-align: left;
  z-index: 1;
}

/* .login-form-icon {
  display: block;
  margin: 0 auto -10px 0;
  width: 80px;
  height: 80px;
  background-color: #5af426;
  border-radius: 50%;
} */

.login-form {
  width: 80%; /*90% container right*/
  max-width: 50vw; /*max 40% width viewport*/
  padding: 2vh; /*padding theo height viewport*/
  background-color: #fff;
  border-radius: 1px;
  /* box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.2); */
  padding: 0 30px;
}

.login-form h2 {
  margin-bottom: 0.5rem;
  font-size: 3.5rem;
}

.create-account-link {
  text-decoration: none;
  color: #5af426;
  font-weight: bold;
}

.login-form p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.login-options {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.create-account-link {
  cursor: pointer;
}

.login-options input[type="checkbox"] {
  margin-right: 0.3rem;
  width: 1rem;
  accent-color: #5af426;
}

.btn-login {
  width: 50%;
  padding: 0.8rem;
  margin-left: 50%;
  border: none;
  border-radius: 50px;
  background: #5af426;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 12px rgb(90, 244, 38);
  transition: all 0.3s ease;
}

.btn-login:hover {
  box-shadow: 0 6px 18px rgb(56, 223, 0);
}

/* Responsive */
@media (max-width: 768px) {
  .login-register-wrapper {
    flex-direction: column;
    width: 95%;
  }

  .login-register-left,
  .login-register-right {
    flex: unset;
    width: 100%;
    height: 50vh;
  }

  .login-form {
    max-width: 90%;
    padding: 2vh;
  }
}
