.home-container {
  background-image: url(../../images/background-home-page2.jpg);
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  background-size: cover; /*phóng to nền ảnh để chiếm trọn container*/
  background-position: center top; /*căn để k bị cắt phần trên */
  background-repeat: no-repeat;
  margin: var(--header-height) 0 0 0;
  padding: 0;
}


.home-container-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* căn trái */
  justify-content: center; /* căn dọc*/
  text-align: left;
  padding: 15rem 1.5rem;
  gap: 0.5rem;
  width: 30rem;
  max-width: 640px; /* giới hạn chiều rộng nội dung */
  margin: 0 0 2rem 10rem; /* đặt phần tử về phía trái */
  color: #000;
  font-size: 1rem;
}

.home-container-content-title {
  margin: 0.5rem 0;
  line-height: 2.5rem;
  font-weight: 500px;
}

.home-container-content-title span {
  /* display: flex; */
  background-color: #000;
  color: #fff;
  padding: 0.2rem;
}

.home-container-content-btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #7b1bf8;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.6rem;
}

.home-container-content-btn-img {
  width: 1rem;
}

.home-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.7rem;
}

.home-navigation hr {
  border: none; /*hr defautl là 1px inset*/
  width: 1px;
  height: 1rem;
  background-color: #000;
  /* border-radius: 999px; */
}

/* responsive */
@media (max-width: 600px) {
  .home-container-content {
    padding: 1.2rem;
    margin-left: 1rem;
    max-width: calc(100% - 2rem);
  }
}
