.home-container {
  background-image: url(../../images/background-home-page.jpg);
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: var(--header-height) 0 0 0;
  /* padding: 0; */
}

.home-container-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  z-index: 10;
}

.home-container-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  height: 100%;
  padding: 0 1rem;
}

.home-container-navbar-title {
  position: relative;
  display: inline-block;
  z-index: 1; /* text nổi lên trên */
  color: #fff;
  font-size: 1.4rem;
  transform: translateY(-10px);
}

.home-container-navbar-title::after {
  content: "";
  position: absolute;
  bottom: -18px; /*chỉnh  vị trí vòng tròn*/
  left: 50%;
  transform: translateX(-50%);
  width: 130px; /* đường kính vòng tròn */
  height: 130px;
  background-color: #000;
  border-radius: 50%;
  z-index: -1;
  /* clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%); */
}
.home-container-navbar-list {
  display: flex;
  gap: 0.3rem; /* khoảng cách giữa các phần tử */
  height: 50%;
  align-items: center;
}

.home-container-navbar-list a {
  color: inherit;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  display: inline-block;
}

.home-container-header-more-product {
  display: inline-flex; /* đặt text và ảnh thẳng hàng */
  align-items: center; /* canh giữa theo chiều dọc */
  gap: 0rem; /* khoảng cách giữa text và icon */
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  color: #1100ff;
}

.home-container-navbar-icon {
  margin-left: 0.4rem;
  width: 1.4rem; /* kích thước icon */
  height: 1.4rem;
  object-fit: contain;
  display: inline-block;
}

.home-container-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* căn trái */
  justify-content: center; /* căn dọc*/
  padding: 2rem 1.5rem; 
  gap: 1rem;
  max-width: 640px; /* giới hạn chiều rộng nội dung */
  margin: 0 0 2rem 2rem; /* đặt phần tử về phía trái */
  color: #fff; 
}

/* responsive */
@media (max-width: 600px) {
  .home-container-content {
    padding: 1.2rem;
    margin-left: 1rem;
    max-width: calc(100% - 2rem);
  }
}
