.carousel {
  width: 100%; /* hiển thị item */
  overflow: hidden;
  position: relative;
  padding: 2rem 10rem;
}

.carousel-window {
  position: relative;
  overflow: hidden;
  height: 100px; /* tùy chỉnh theo item */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-track {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.item {
  min-width: 220px;
  height: 100px;
  margin-right: 10px;
  background: #eee;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 8px; */
  font-size: 1.2rem;
  color: rgb(190 189 192);
}
