.main-footer {
  background-color: #265ec2;
  color: white;
  padding: 8rem 10rem 0 10rem;
  text-align: left;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 18rem;
  margin-bottom: 5rem;
}

.footer-top-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 34.6rem;
}

.footer-top-left-title {
  color: #1ad08c;
  /* margin-bottom: 1rem; */
  font-size: 0.8rem;
}

.footer-top-left h1 {
  font-size: 3rem;
}

.footer-top-left h5 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer-top-left-desc {
  color: #cbcedb;
  line-height: 1.6rem;
}

.footer-top-left-child {
  display: flex;
  justify-content: space-between;
  width: 100%; /*chiếm 100% thằng bố để space between chia */
  gap: 2rem;
  /* color: #cbcedb; */
}

.contact-text p {
  color: #cbcedb;
}

.footer-top-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.footer-top-right-contact-info {
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top-right img {
  width: 3rem;
  /* margin-right: 10px; */
}

.footer-mid {
  margin: 5rem 0;
  display: flex;
  width: 100%;
  gap: 2rem;
}

.footer-mid-more-info p {
  color: #cbcedb;
}

.logo-slogan-title {
  font-weight: bold;
  color: #cbcedbc5 !important;
}

.footer-mid-more-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: left;
  flex: 1;
}

.footer-mid-more-info p {
  width: 14rem;
}

.footer-mid-more-info a {
  color: #cbcedb;
  /* text-decoration: none; */
}

.footer-mid-more-info input {
  border: none;
  outline: none;
  padding: 0.8rem 1rem;
  border-radius: 25px;
  background-color: #3b66d1;
  color: #fff;
  /* font-size: 1rem; */
}

.footer-mid-more-info-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer-mid-more-info-btn {
  padding: 0.8rem 1rem;
  border-radius: 25px;
  border: none;
  background-color: #1ad08c;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.logo-slogan {
  display: flex;
  align-items: center;
  margin-top: -0.8rem;
}

.logo-slogan img {
  /*chỉnh size img*/
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.logo-slogan-img {
  /*chỉnh hình tròn */
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden; /*ẩn tất cả element bị tràn*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-slogan-text {
  margin-left: 0.4rem;
}

.logo-slogan-text h5 {
  font-size: 1.2rem;
}

.logo-slogan-text p {
  font-size: 0.8rem;
}

.footer-mid-more-info h5 {
  font-size: 1.2rem;
}

.link-social {
  display: flex;
  height: 1rem;
  width: fit-content; /*nằm gọn trong thẻ bố*/
  gap: 1.4rem;
  cursor: pointer;
}

.footer-bot {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 1rem 0 1rem 0;
}
