* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 64px; /* adjust as needed */
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
